<div class="col-2">
  <p>친절 학교 랭킹</p>
  <table class="table shadow-sm p-3 mb-5 bg-white rounded">
    <thead>
      <tr>
        <th scope="col">학교</th>
        <th scope="col">점수</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>부스트초</td>
        <td>99</td>
      </tr>
      <tr>
        <td>캠프초</td>
        <td>50</td>
      </tr>
      <tr>
        <td>커넥트중</td>
        <td>34</td>
      </tr>
    </tbody>
  </table>
  <p>친절 유저 랭킹</p>
  <table class="table shadow-sm p-3 mb-5 bg-white rounded">
    <thead>
      <tr>
        <th scope="col">닉네임</th>
        <th scope="col">점수</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>홍길동</td>
        <td>43</td>
      </tr>
      <tr>
        <td>홍길동2</td>
        <td>28</td>
      </tr>
      <tr>
        <td>홍길동3</td>
        <td>14</td>
      </tr>
    </tbody>
  </table>
</div>
